/* /Controls/BaseDialog.razor.rz.scp.css */
div.dialog-content[b-x4v6cn5dr2] {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  background-color: white;
  color: black;
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.35));
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* /Controls/ChatConversation.razor.rz.scp.css */
/* /Controls/ChatConversationView.razor.rz.scp.css */
/* /Controls/MessageDialog.razor.rz.scp.css */
div.content-box[b-3zeys8s1z6] {
  position: relative;
  min-width: 350px;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
div.content-box h1.header-text[b-3zeys8s1z6] {
  margin-bottom: 10px;
}
div.content-box p.body-text[b-3zeys8s1z6] {
  margin-bottom: 25px;
}
div.content-box button.confirm-btn[b-3zeys8s1z6] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/* /Controls/Sidebar.razor.rz.scp.css */
div.sidebar-container[b-bcovwkew4f] {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 375px;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 101;
  -webkit-filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.2));
}
div.sidebar-container button.close-btn[b-bcovwkew4f] {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px;
  border-radius: 2px;
  z-index: 101;
}
div.sidebar-container div.sidebar-header[b-bcovwkew4f] {
  position: relative;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.sidebar-container div.sidebar-content[b-bcovwkew4f] {
  position: relative;
  width: 100%;
  height: 85%;
  overflow-y: auto;
}
div.sidebar-container div.sidebar-content div.sidebar-item[b-bcovwkew4f] {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -o-border-image: linear-gradient(to right, white, lightgray) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(white), to(lightgray)) 1;
     border-image: linear-gradient(to right, white, lightgray) 1;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(gray));
  background-image: linear-gradient(to right, white, gray);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: -200% center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}
div.sidebar-container div.sidebar-content div.sidebar-item:nth-child(2n)[b-bcovwkew4f] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
div.sidebar-container div.sidebar-content div.sidebar-item:hover[b-bcovwkew4f] {
  background-position: 0% center;
}
div.sidebar-container div.sidebar-content div.sidebar-item div.sidebar-item-icon[b-bcovwkew4f] {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.sidebar-container div.sidebar-content div.sidebar-item div.sidebar-item-text[b-bcovwkew4f] {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.sidebar-container div.sidebar-content div.sidebar-item div.sidebar-item-text h3[b-bcovwkew4f] {
  font-size: 16px;
  font-weight: 400;
}
/* /Pages/Chat.razor.rz.scp.css */
