<BaseDialog @bind-IsVisible="isVisible">
    <div class="content-box">
        <h1 class="header-text">@HeaderText</h1>

        <p class="body-text">@BodyText</p>

        <button class="confirm-btn" @onclick="Hide">
            OK
        </button>
    </div>


</BaseDialog>