div.content-box {
    position: relative;
    min-width: 350px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    h1.header-text {
        margin-bottom: 10px;
    }

    p.body-text {
        margin-bottom: 25px;
    }

    button.confirm-btn {
        align-self: flex-end;
    }
}
