<BaseDialog @bind-IsVisible="IsVisible">
    <div class="content-box">
        <h1>@HeaderText</h1>

        <p>@BodyText</p>

        <button @onclick="Hide">
            OK
        </button>
    </div>


</BaseDialog>